Name: admin-rpc
ListenOn: 127.0.0.1:${ADMIN_RPC_PORT}
DataSource: ${DATABASE_URL}
UserRPC:
  Endpoints:
    - 127.0.0.1:${USER_RPC_PORT}
  Timeout: 5000
Telemetry:
  Name: admin-rpc
  Endpoint: 127.0.0.1:${TEMPO_OTLP_GRPC_PORT}
  Sampler: 1.0
  Batcher: otlpgrpc
